* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

/* font-family: 'Cormorant', serif; */

.container {
  margin: 0 auto;
  width: 1110px;
}

.header {
  height: 60px;
  background: #1d2f30;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.leftside__wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 125px;
}

header a {
  color: #ffffff;
}

.menu {
  display: flex;
}

.menu li {
  margin-right: 64px;
  list-style-type: none;
}

.menu li a {
  font-size: 16px;
  text-decoration: none;
}

.search {
  margin-right: 64px;
}

.main {
  padding: 115px 0;
  background: linear-gradient(#1d2f30a7, #1d2f30ab),
    url(../images/1_1.jpg) no-repeat center top/cover;
}

.main__headding {
  margin-bottom: 16px;
  font-size: 60px;
  font-weight: 700;
  font-family: "Cormorant", serif;
  color: #ffffff;
}

.main__desc {
  padding-bottom: 24px;
  width: 635px;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.main__button {
  border: none;
  background: transparent;
  color: #bae249;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.main__button img {
  margin-left: 8px;
}

.collection {
  padding: 60px 0;
  background: #1d2f30;
}

.collection__cards {
  display: flex;
  justify-content: space-between;
}

.wrapper__top {
  padding: 30px 16px;
  background: #0b1919;
}

.wrapper_bottom {
  padding: 16px 16px;
  border: 1px solid #0b1919;
}

.card__name {
  margin-top: 30px;
  margin-bottom: 8px;
  color: #fff;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.card__text {
  margin-bottom: 16px;
  color: #899d9d;
  width: 233px;
  font-size: 16px;
  line-height: 150%;
}

.description {
  padding: 20.5px 59px;
  background: transparent;
  border: 1px solid#bae249;
  font-size: 16px;
  line-height: 150%;
  color: #bae249;
}

.pages {
  padding: 26px 0 57px 0;
  display: flex;
  justify-content: center;
}

.previous__page {
  padding-right: 30px;
  background: none;
  border: none;
}

.next__page {
  padding-left: 30px;
  background: none;
  border: none;
}

.page__number {
  color: #fff;
  font-family: "Cormorant", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.artifacts__new {
  padding-bottom: 30px;
  color: #fff;
  font-family: "Cormorant", serif;
  font-style: italic;
  font-size: 48px;
  font-weight: 700;
}

.artifacts {
  display: flex;
  justify-content: space-between;
}

.left__content {
  padding: 16px 16px;
  width: 793px;
  background: #0b1919;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right__content {
  width: 223px;
  padding: 16px 16px;
  background: #bae249;
}

.right__title {
  color: #1d2f30;
}

.right {
  color: #506829;
}

.read__next {
  color: #0b1919;
  background: transparent;
  border: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
}

.project {
  padding: 60px 0;
}

.help__project {
  background: linear-gradient(#1d2f30a7, #1d2f30ab),
    url(../images/1_1\(1\).jpg) no-repeat center top/cover;
}

.input__wrapper {
  width: 350px;
  color: #899d9d;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
}

.user {
  padding-left: 16px;
  margin: 24px 0;
  width: 350px;
  height: 45px;
}

.send-button {
  padding: 20.5px 59px;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 700;
  background: #bae249;
  color: #0b1919;
  border: transparent;
}

.footer {
  background: #0b1919;
}

.footer__logos {
  display: flex;
  justify-content: center;
}

.footer__images {
  padding: 18px 15px;
}
